@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
@import "https://cdn.quilljs.com/0.20.1/quill.snow.css";
/************************  VARIABLES  ************************/
/**************** COLORS **********************/
/**************** FONT *********************/
/**************** ACCOUNTS ********************/
/**************** PROJECTS ********************/
/***************** TASKS **********************/
/***************** NOTES **********************/
/***************** MENU **********************/
/**************** GLOBALS *********************/
/**************** MODULE *********************/
/**************** ACCOUNTS ********************/
/**************** DETAILS ********************/
/**************** PROJECTS ********************/
/***************** TASKS **********************/
/***************** NOTES **********************/
/***************** MENU **********************/
/**************** GLOBALS *********************/
/**************** MODULE *********************/
/**************** ACCOUNTS ********************/
/**************** PROJECTS ********************/
/***************** TASKS **********************/
/***************** NOTES **********************/
/***************** MENU **********************/
h4 {
  font-size: 16px; }

.center {
  text-align: center; }

/************************  GLOBALS  ************************/
/**************** GLOBALS *********************/
a {
  text-decoration: none !important; }

.fill {
  height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%; }

.section {
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.module {
  position: absolute;
  z-index: 1000;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  height: auto;
  background: white;
  border: 1px solid #ccc;
  padding: 10px 20px 20px 20px;
  top: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .module.hidden {
    display: none; }

.content {
  height: 100%;
  width: 100%;
  position: absolute; }
  @media (max-width: 768px) {
    .content {
      height: 92%;
      min-height: 92%; } }

::-webkit-scrollbar {
  width: 5px;
  margin-right: 5px; }

::-webkit-scrollbar-thumb {
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: #999; }

::-webkit-scrollbar-track {
  background: transparent; }

/**************** PAGE *********************/
html, body {
  height: 100%; }

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute; }

/************************  PARTS  ************************/
#accounts {
  background: #202a33;
  padding: 5px 0 0 0; }
  #accounts .account {
    padding-top: 85%;
    position: relative;
    margin-bottom: 5px; }
    #accounts .account.selected {
      background: #405366; }
    #accounts .account div a {
      display: block;
      width: 70%;
      left: 50%;
      margin-left: -35%;
      height: 80%;
      top: 0;
      position: absolute;
      background: #000;
      background-size: contain;
      margin-top: 5px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  #accounts .add-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%; }
    #accounts .add-wrapper .add {
      width: 70%;
      margin: auto; }
      #accounts .add-wrapper .add button {
        width: 100%;
        padding: 5px 0; }

#details form {
  margin-top: 30px; }
  #details form .form-group {
    margin-top: 20px; }
    #details form .form-group .hide {
      display: none; }
    #details form .form-group #accounticon {
      background-size: contain;
      width: 202px;
      height: 202px;
      border: 1px solid #999;
      text-align: center;
      overflow: hidden; }
      #details form .form-group #accounticon span {
        margin-top: 75px;
        font-size: 50px; }
        #details form .form-group #accounticon span.hide {
          display: none; }
      #details form .form-group #accounticon .loader {
        background: center center no-repeat;
        background-image: url(../img/loader.gif);
        height: 50px;
        margin-top: 75px; }
        #details form .form-group #accounticon .loader.hide {
          display: none; }
      #details form .form-group #accounticon .previewimage {
        width: 200px;
        height: 200px;
        background-size: contain; }
        #details form .form-group #accounticon .previewimage.hide {
          display: none; }
      #details form .form-group #accounticon .dz-image, #details form .form-group #accounticon .dz-details, #details form .form-group #accounticon .dz-progress, #details form .form-group #accounticon .dz-error-message, #details form .form-group #accounticon .dz-success-mark, #details form .form-group #accounticon .dz-error-mark {
        display: none; }
  #details form .btn {
    margin-top: 0px; }
    #details form .btn.btn-danger {
      float: right; }
  #details form .cancel {
    display: block;
    margin-top: 20px; }

#projects {
  background: #303e4d;
  padding: 0;
  overflow-y: auto; }
  #projects .account-title {
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px; }
    #projects .account-title .glyphicon {
      color: #ccc;
      font-size: 18px;
      display: none;
      margin-left: 5px; }
    #projects .account-title:hover .glyphicon {
      display: inline-block; }
  #projects .folders {
    padding: 0 10px; }
    #projects .folders .folder-title, #projects .folders .folder-add {
      color: #ccc;
      margin-top: 20px;
      text-transform: uppercase;
      padding-bottom: 3px; }
      #projects .folders .folder-title.visible, #projects .folders .folder-add.visible {
        border-bottom: 1px solid #888; }
      #projects .folders .folder-title a, #projects .folders .folder-add a {
        margin-left: 5px;
        color: #ccc;
        display: none; }
        #projects .folders .folder-title a.visible, #projects .folders .folder-add a.visible {
          float: right;
          display: inline-block; }
      #projects .folders .folder-title:hover a, #projects .folders .folder-add:hover a {
        display: inline-block; }
    #projects .folders .edit {
      margin-bottom: 15px; }
      #projects .folders .edit .form-group {
        margin-bottom: 5px; }
        #projects .folders .edit .form-group .form-control {
          display: inline-block;
          width: 80%;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.15);
          color: #ccc; }
        #projects .folders .edit .form-group .btn {
          vertical-align: top; }
    #projects .folders .folder-input .form-group {
      margin-bottom: 5px; }
      #projects .folders .folder-input .form-group .form-control {
        display: inline-block;
        width: 80%;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: #ccc; }
      #projects .folders .folder-input .form-group .btn {
        vertical-align: top; }
  #projects .project-item {
    color: #888;
    cursor: pointer; }
    #projects .project-item .project-title {
      margin: 0px;
      padding: 5px; }
      #projects .project-item .project-title.selected {
        background: #405366; }
      #projects .project-item .project-title.hide {
        display: none; }
      #projects .project-item .project-title a {
        color: #888; }
      #projects .project-item .project-title .glyphicon {
        margin-left: 5px;
        color: #888;
        display: none;
        font-size: 10px; }
        #projects .project-item .project-title .glyphicon.edit {
          float: right; }
      #projects .project-item .project-title:hover .glyphicon {
        display: inline-block; }
    #projects .project-item .move-folder {
      display: block;
      color: #fff; }
      #projects .project-item .move-folder.hide {
        display: none; }
      #projects .project-item .move-folder a {
        cursor: pointer;
        padding-right: 3px; }
    #projects .project-item .edit-project.hide {
      display: none; }
    #projects .project-item .edit-project .form-group {
      margin-bottom: 5px; }
      #projects .project-item .edit-project .form-group .form-control {
        display: inline-block;
        width: 80%;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: #ccc; }
      #projects .project-item .edit-project .form-group .btn {
        vertical-align: top; }
  #projects .project-add .projectaddbtn {
    color: #888; }
    #projects .project-add .projectaddbtn.hide {
      display: none; }
  #projects .project-add .project-input.hide {
    display: none; }
  #projects .project-add .project-input .form-group {
    margin-bottom: 5px; }
    #projects .project-add .project-input .form-group .form-control {
      display: inline-block;
      width: 80%;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.15);
      color: #ccc; }
    #projects .project-add .project-input .form-group .btn {
      vertical-align: top; }

#tasks {
  background: #ccc;
  overflow: auto; }
  #tasks .tasks .list {
    margin-bottom: 30px; }
    #tasks .tasks .list h4 {
      text-transform: uppercase;
      padding-bottom: 3px; }
      #tasks .tasks .list h4.visible {
        border-bottom: 1px solid #666; }
      #tasks .tasks .list h4 .glyphicon {
        float: right; }
    #tasks .tasks .list .items {
      display: none; }
      #tasks .tasks .list .items.visible {
        display: block; }
      #tasks .tasks .list .items .item {
        position: relative;
        width: 90%;
        margin: 0 auto 10px auto;
        font-size: 14px;
        line-height: 26px;
        padding-left: 30px;
        color: #333; }
        #tasks .tasks .list .items .item.complete {
          color: #888;
          text-decoration: line-through; }
        #tasks .tasks .list .items .item .checked, #tasks .tasks .list .items .item .unchecked {
          display: inline-block;
          width: 20px;
          height: 26px;
          position: absolute;
          top: 0;
          left: 0; }
        #tasks .tasks .list .items .item .unchecked {
          background: url(../img/unchecked.png) center center no-repeat;
          background-size: contain; }
        #tasks .tasks .list .items .item .checked {
          background: url(../img/checked.png) center center no-repeat;
          background-size: contain; }
        #tasks .tasks .list .items .item .glyphicon {
          line-height: 26px;
          font-size: 10px;
          display: none;
          margin-left: 10px; }
          #tasks .tasks .list .items .item .glyphicon-remove {
            float: right; }
        #tasks .tasks .list .items .item:hover .glyphicon {
          display: inline-block; }
      #tasks .tasks .list .items .task-input, #tasks .tasks .list .items .edit {
        width: 92%;
        margin: auto; }
        #tasks .tasks .list .items .task-input .form-group, #tasks .tasks .list .items .edit .form-group {
          margin-bottom: 5px; }
          #tasks .tasks .list .items .task-input .form-group .form-control, #tasks .tasks .list .items .edit .form-group .form-control {
            display: inline-block;
            width: 80%;
            background: #ddd; }
          #tasks .tasks .list .items .task-input .form-group .btn, #tasks .tasks .list .items .edit .form-group .btn {
            vertical-align: top; }
        #tasks .tasks .list .items .task-input:hover .form-group, #tasks .tasks .list .items .edit:hover .form-group {
          display: block; }
      #tasks .tasks .list .items .edit {
        margin-bottom: 15px; }
      #tasks .tasks .list .items .task-input {
        height: 30px; }
        #tasks .tasks .list .items .task-input .form-group {
          display: none; }

#notes {
  background: #fff;
  overflow-y: auto; }
  #notes .header h4 {
    font-size: 18px; }
  #notes .note {
    margin-bottom: 10px; }
    #notes .note .to {
      padding-right: 20%;
      margin-left: 2%; }
      #notes .note .to div:after, #notes .note .to div:before {
        right: 100% !important; }
      #notes .note .to div:after {
        border-right-color: #ddd !important; }
      #notes .note .to div:before {
        border-right-color: #eee !important; }
    #notes .note .from {
      padding-left: 20%;
      margin-right: 2%; }
      #notes .note .from div:after, #notes .note .from div:before {
        left: 100% !important; }
      #notes .note .from div:after {
        border-left-color: #ddd !important; }
      #notes .note .from div:before {
        border-left-color: #eee !important; }
    #notes .note .status {
      text-align: center;
      color: #666;
      font-size: 14px;
      font-style: italic; }
    #notes .note .details {
      text-align: center;
      font-size: 10px;
      color: #ccc;
      margin-top: 5px;
      position: relative;
      height: 12px; }
      #notes .note .details .icons {
        display: none; }
        #notes .note .details .icons .glyphicon {
          margin: 0 10px; }
    #notes .note:hover .details .icons {
      display: block; }
  #notes .add .ql-container, #notes .note .ql-container {
    border: 1px solid #ccc; }
  #notes .add .add-form, #notes .note .add-form {
    margin-top: 20px; }
    #notes .add .add-form select.type, #notes .note .add-form select.type {
      width: 25%; }
    #notes .add .add-form .submitbtn, #notes .note .add-form .submitbtn {
      float: right; }
    #notes .add .add-form .cancelbtn, #notes .note .add-form .cancelbtn {
      float: right;
      cursor: pointer;
      margin-right: 10px; }
  #notes .add {
    margin-top: 30px;
    margin-bottom: 100px; }

.chat, #notes .note .to div, #notes .note .from div {
  position: relative;
  background: #ddd;
  border: 1px solid #eee;
  padding: 10px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .chat:after, #notes .note .to div:after, #notes .note .from div:after, .chat:before, #notes .note .to div:before, #notes .note .from div:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .chat:after, #notes .note .to div:after, #notes .note .from div:after {
    border-color: transparent;
    border-width: 10px;
    margin-top: -10px; }
  .chat:before, #notes .note .to div:before, #notes .note .from div:before {
    border-color: transparent;
    border-width: 11px;
    margin-top: -11px; }

#menu {
  position: absolute;
  height: 8%;
  bottom: 0;
  background: white;
  width: 100%;
  left: 0;
  border-top: 1px solid #ccc;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  #menu .container-fluid {
    height: 100%; }
    #menu .container-fluid .row {
      height: 100%; }
      #menu .container-fluid .row .block {
        height: 100%;
        text-align: center;
        border-right: 1px solid #ccc; }
        #menu .container-fluid .row .block a {
          height: 20px;
          color: #ccc;
          font-size: 20px;
          line-height: 100%;
          width: 100%;
          top: 50%;
          position: relative;
          display: block;
          -moz-transform: translateY(-50%) scale(1);
          -ms-transform: translateY(-50%) scale(1);
          -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1); }
