/**************** GLOBALS *********************/

/**************** MODULE *********************/
$module-border: 1px solid #ccc;

/**************** ACCOUNTS ********************/

/**************** DETAILS ********************/
$file-upload-border: 1px solid #999;

/**************** PROJECTS ********************/
$folder-border-color: 1px solid $project-item-color;


/***************** TASKS **********************/
$task-header-border: 1px solid #666;

/***************** NOTES **********************/
$notes-textarea-border: 1px solid #ccc;
$chat-border-color: #eee;
$chat-border: 1px solid $chat-border-color;

