/**************** GLOBALS *********************/

/**************** MODULE *********************/
$module-border: 1px solid #ccc;

/**************** ACCOUNTS ********************/

/**************** DETAILS ********************/
$file-upload-border: 1px solid #999;

/**************** PROJECTS ********************/
$folder-border-color: 1px solid $project-item-color;


/***************** TASKS **********************/


/***************** NOTES **********************/
