/**************** COLORS **********************/
$blue1: #202a33;
$blue2: #303e4d;
$light-grey: #ccc;
$med-grey: #666;
$white: #fff;
$black: #000;

/**************** GLOBALS *********************/

/**************** ACCOUNTS ********************/
$account-bg: $blue1;
$account-item-bg: $black;

/**************** PROJECTS ********************/
$project-bg: $blue2;

$account-title-color: $white;
$account-action-color: $blue1;

/***************** TASKS **********************/
$tasks-bg: $light-grey;

/***************** NOTES **********************/
$notes-bg: $white;