/**************** COLORS **********************/
$blue1: #202a33;
$blue2: #303e4d;
$blue3: #405366;
$light-grey: #ccc;
$mdlgt-grey: #888;
$med-grey: #666;
$dark-grey: #333;
$white: #fff;
$black: #000;

/**************** FONT *********************/

/**************** ACCOUNTS ********************/
$account-bg: $blue1;
$account-item-bg: $black;
$account-selected: $blue3;

/**************** PROJECTS ********************/
$project-bg: $blue2;

$account-title-color: $white;
$account-action-color: $light-grey;

$folder-title-color: $light-grey;
$project-item-color: $mdlgt-grey;
$project-item-info-color: $white;

$project-selected: $blue3;

$projects-input-bg: rgba(256,256,256,.05);
$projects-input-color: #ccc;

/***************** TASKS **********************/
$tasks-bg: $light-grey;
$tasks-active: $dark-grey;
$task-completed: $mdlgt-grey;

/***************** NOTES **********************/
$notes-bg: $white;
$status-color: $med-grey;
$details-color: $light-grey;
$chat-color: #ddd;