/**************** GLOBALS *********************/

/**************** MODULE *********************/
$module-width: 800px;

/**************** ACCOUNTS ********************/
$account-item: 70%;

/**************** PROJECTS ********************/


/***************** TASKS **********************/


/***************** NOTES **********************/

/***************** MENU **********************/
$menu-height: 8%;
$menu-item: 20px;