#accounts{
	background: $account-bg;
	padding: 5px 0 0 0;

	.account{
		padding-top: 85%;
		position: relative;
		margin-bottom: 5px;

		&.selected{
			background: $account-selected;
		}

		div{
			a{
				display: block;
				width: $account-item;
				left: 50%;
				margin-left: $account-item/-2;
				height: 80%;
				top:0;
				position: absolute;
				background: $account-item-bg;
				background-size: contain;
				margin-top: 5px;

				@include border-radius(50%);
			}
		}

		
	}

	.add-wrapper{
		position: absolute;
		bottom: 10px;
		width:100%;

		.add{
			width:$account-item;
			margin: auto;
			
			button{
				width:100%;
				padding: 5px 0;
			}
		}
	}
	
}