#projects{
	background: $project-bg;
	padding: 0;
	overflow-y: auto;

	.account-title{
		color: $account-title-color;
		text-transform: uppercase;
		padding: 0 10px;

		a{
			color: $account-action-color;
			font-size: 18px;
			display: none;
			margin-left: 5px;
		}

		&:hover{
			a{
				display: inline-block;
			}
		}
	}

	.folders {
		padding: 0 10px;

		.folder-title, .folder-add{
			color: $folder-title-color;
			margin-top: 20px;
			text-transform: uppercase;
			padding-bottom: 3px;

			&.visible{
				border-bottom: $folder-border-color;
			}
			
			a{
				margin-left: 5px;
				color: $folder-title-color;
				display: none;

				&.visible {
					float: right;
					display: inline-block;
				}
			}

			&:hover{
				a{
					display: inline-block;
				}
			}
		}

		.folder-input{
			.form-group{
				margin-bottom: 5px;

				.form-control{
					display: inline-block;
					width: 80%;
				}

				.btn{
					vertical-align: top;
				}
			}
		}
	}

	.project-item{
		color: $project-item-color;
		
		.project-title{
			&.hide{
				display: none;
			}

			a{
				margin-left: 5px;
				color: $project-item-color;
				display: none;
				font-size: 10px;

				&.edit{
					float: right;
				}
			}

			&:hover{
				a{
					display: inline-block;
				}
			}
		}

		.move-folder{
			display: block;
			color: $project-item-info-color;

			&.hide{
				display: none;
			}

			a{
				cursor: pointer;
				padding-right: 3px;
			}
		}

		.edit-project{
			&.hide{
				display:none;
			}

			.form-group{
				margin-bottom: 5px;

				.form-control{
					display: inline-block;
					width: 80%;
				}

				.btn{
					vertical-align: top;
				}
			}
		}
	}

	.project-add{
		.projectaddbtn{
			color: $project-item-color;

			&.hide{
				display:none;
			}
		}

		.project-input{
			&.hide{
				display:none;
			}

			.form-group{
				margin-bottom: 5px;

				.form-control{
					display: inline-block;
					width: 80%;
				}

				.btn{
					vertical-align: top;
				}
			}
		}
	}
}