div#accounts.section.col-sm-2.center-block
	include ../partials/accountitem.jade
	div.add-wrapper
		div.add
			button.btn.btn-default(type="submit" ng-click="Account.updateaccount(true)")
				span.glyphicon.glyphicon-plus